.advantage {
  background-color: #0b2b5c;
}

.advantages-inner {
  max-width: 920px;
  margin: 0 auto;
  padding: 48px 0 1px;
  color: #fff;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantage-item {
  margin-bottom: 36px;
  padding-left: 40px;
  line-height: 20px;
  position: relative;
  max-width: 41%;
  flex-basis: 41%;

  &:nth-child(odd) {
    padding-right: 25px;
    max-width: 59%;
    flex-basis: 59%;
  }
}

.advantage-icon {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 2px;
  left: 0;
}

.advantage-title {
  font-weight: 700;
  font-size: 18px;
}

.advantage-text {
  font-size: 16px;
  font-weight: 400;
}
