.big-video {
  padding-top: 25px;
  padding-bottom: 41px;
  text-align: center;
  color: #fff;
  background: #203457;
  background: linear-gradient(to right, #203457 0%, #3e5882 50%, #203457 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#203457', endColorstr='#203457', GradientType=1);
}

.big-video-text {
  margin-bottom: 28px;
  line-height: 1.4;
  font-size: 14px;
}
