.compare-prise {
  padding-top: 27px;
  padding-bottom: 30px;
  background: #d9cec0;
  background: linear-gradient(to right, #d9cec0 0%, #f3efeb 50%, #d9cec0 100%);
}

.compare-prise-container {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.compare-prise-title {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 500;
}

.compare-prise-title__bold {
  font-weight: 700;
}
