.header {
  height: 101px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 226px;
  height: 76px;
}

.header-decor {
  height: 74px;
  padding-left: 110px;
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  background: url(../img/decor/12yaer.svg) no-repeat 0 -1px;
  background-size: 75px 52px;

  &::before {
    width: 98px;
    height: 50px;
    margin-right: 10px;
    background: url(../img/decor/truck3.png) no-repeat center;
    background-size: contain;
    content: '';
  }

  &::after {
    width: 230px;
    height: 39px;
    margin-bottom: 6px;
    background: url(../img/decor/text-header.svg) no-repeat bottom center;
    background-size: contain;
    content: '';
  }
}

.header-support {
  text-align: right;
  line-height: 1;
}

.header-support__schedule {
  font-size: 12px;
  letter-spacing: .01rem;
}

.header-support__phone {
  margin-top: 10px;
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.header-support__phone-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.header-support__phone-num {
  margin-left: 6px;
  color: $red;
}

.header-support__call {
  font-size: 12px;
  text-align: right;
}

.header-support__call-text {
  font-weight: 700;
  color: $blueColor;
  cursor: pointer;
  transition: color .3s;
  display: inline-flex;
  align-items: center;

  &:hover {
    color: $red;

    .header-support__call-icon {
      fill: $red;
    }
  }
}

.header-support__call-icon {
  width: 10px;
  height: 10px;
  margin-right: 1px;
  fill: $blueColor;
  transition: fill .3s;
}
