.header {
  height: 101px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 238px;
  height: 79px;
  margin-top: 7px;
}

.header-decor {
  height: 74px;
  margin-left: 47px;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 18px;
  display: flex;
  align-items: flex-end;

  &::before {
    width: 75px;
    height: 52px;
    margin-right: 46px;
    margin-bottom: auto;
    background: url(../img/decor/12yaer-2.svg) no-repeat;
    background-size: contain;
    content: '';
  }

  &::after {
    width: 98px;
    height: 50px;
    margin-right: 28px;
    background: url(../img/decor/truck3.png) no-repeat center;
    background-size: contain;
    content: '';
  }
}

.header-decor__text {
  margin-bottom: 5px;
  text-transform: uppercase;
  line-height: 1;
  order: 1;
}

.header-decor__text-head {
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 900;
  color: $red;
  letter-spacing: .03rem;
}

.header-decor__text-info {
  font-size: 14px;
  font-weight: 900;
}

.header-support {
  text-align: right;
  line-height: 1;
}

.header-support__schedule {
  font-size: 12px;
  font-weight: 600;

  .text-bold {
    font-weight: 900;
  }
}

.header-support__phone {
  margin-top: 12px;
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.header-support__phone-icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.header-support__phone-num {
  margin-left: 7px;
  color: $red;
}

.header-support__call {
  font-size: 12px;
  text-align: right;
  font-weight: 600;
  letter-spacing: .02rem;
}

.header-support__call-text {
  font-weight: 900;
  color: $blueColor;
  cursor: pointer;
  transition: color .3s;
  display: inline-flex;
  align-items: center;

  &:hover {
    color: $red;

    .header-support__call-icon {
      fill: $red;
    }
  }
}

.header-support__call-icon {
  width: 10px;
  height: 10px;
  margin-right: 1px;
  fill: $blueColor;
  transition: fill .3s;
}
