.main {
  background: url(../img/bg/bg-main-2.jpg) no-repeat center;
  background-size: cover;
}

.main-inner {
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
}

.main-box {
  max-width: 355px;
  text-align: center;
  color: #fff;

  .btn-primary {
    box-shadow: 2px 4px 0 #53000b, 9px 9px 10px rgba(0, 0, 0, 0.25);
  }
}

.main-title {
  font-size: 45px;
  line-height: 45px;
  margin-top: -9px;
}

.main-pre-title {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 1;
  font-weight: 500;
}

.main-discount {
  padding-top: 3px;
  height: 44px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  background: url(../img/decor/splash.png) no-repeat center;
}

.main-discount__percent {
  font-weight: 700;
}

.main-header {
  margin-left: auto;
  text-align: center;
}

.main-product {
  margin-right: -19px;
  margin-left: auto;
  color: #fff;
  text-align: center;
}

.main-headline {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 25px;

  &::after {
    width: 100px;
    height: 4px;
    margin: 9px auto 0;
    display: block;
    background-color: #ffd900;
    content: '';
  }
}

.main-headline__decor {
  margin-bottom: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffd900;
  letter-spacing: .05rem;
}
