.social {
  display: flex;
  align-items: center;
}

.social-point {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:not(:last-of-type) {
    margin-right: 6px;
  }

  &.vk {
    background-image: url(../img/ico/vk.svg);
  }

  &.whatsapp {
    background-image: url(../img/ico/whatsapp.svg);
  }

  &.telegram {
    background-image: url(../img/ico/telegram.svg);
  }
}
