.hide-placeholder {
  @include hidePlaceholder {
    opacity: 1;
    //font-weight: 500;
    font-size: 11px;
    color: #333;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
  }

  &:focus {
    @include hidePlaceholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

h2 {
  margin-bottom: 37px;
  font-size: 31px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.list-arrow {
  padding-left: 0;
  margin-bottom: 15px;
  list-style: none;
  font-size: 14px;
}

.list-arrow__item {
  padding-left: 15px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &::before {
    width: 12px;
    height: 12px;
    top: 3px;
    left: 0;
    position: absolute;
    background: url(../img/ico/arrow-r.svg) no-repeat center;
    content: '';
  }
}

.tab-pane:not(.active) {
  display: none;
}
.text-red {
  color: $red;
}